{% extends "base.html" %}
{% block title %}{{ cookiecutter.project_name }} - {{ page_name }}{% endblock %}
{% block head %}
    <!-- {{ super() }} -->
    <link rel="stylesheet" href="https://the.missing.style/v0.2.0/missing.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <script defer src="https://unpkg.com/alpinejs@3/dist/cdn.min.js"></script>
{% endblock %}
<body>
<main>
    {% block header %}
     <!-- {{ super() }} -->
    {% endblock %}
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</main>
</body>
</html>
